* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #c09a83ac;
    color: #333;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header h1 {
    text-align: center;
    padding: 5px;
    font-size: 50px;
}

nav {
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #b58b31;
    /* ホバー時にリンクの色を変更 */
    text-decoration: underline;
    /* ホバー時に下線を表示 */
    transition: color 0.7s ease, text-decoration 0.7s ease;
    /* スムーズな変化 */
}


.section {
    padding: 30px 20px;
    text-align: center;
    background: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    /* 初期状態の透明度 */
    animation: fade-in 1.5s ease-in-out forwards;
    /* フェードインアニメーション */
    justify-items: center;
}


.me {
    width: 300px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p,
ul {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
}

.basketball_cat {
    width: 300px;
    background: url('https://images.unsplash.com/photo-1560807707-9b1b5e07d9b3') no-repeat center center/cover;
    margin: 10px 0;
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: none;
    /* 最初は非表示 */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back-to-top:hover {
    background-color: #555;
}

.twitter-tweet {
    margin: 0 auto;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*要素の間隔*/
    gap: 20px;

}

.container p {
    text-align: left;
}

.motionmentor {
    width: 300px;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .container {
        flex-direction: column;
    }

    br {
        display: none;
    }
}